<div class="admincp-page">
    <div class="items">
        <div class="item" onclick="showItemAdd_AdminCP(0)">
            <div class="content">
                <i class="fa-solid fa-plus"></i> 
                <p>Add item</p>
            </div>
        </div>
        <div class="item">
            <div class="content">
                <i class="fa-solid fa-trash"></i> 
                <p>Remove item</p>
            </div>
        </div>
    </div>
</div>