<div class="admincp-page">
    <div class="items">
        <div class="item" onclick="showItemAdd_AdminCP(0)">
            <div class="content">
                <i class="fa-solid fa-plus fa-2x"></i> 
                <p>Add item</p>
            </div>
        </div>
        <div class="item" onclick="showItemRemove_AdminCP()">
            <div class="content">
                <i class="fa-solid fa-trash fa-2x"></i> 
                <p>Remove item</p>
            </div>
        </div>
        <div class="item" onclick="showItemEdit_AdminCP()">
            <div class="content">
                <i class="fa-solid fa-pen-to-square fa-2x"></i>
                <p>Edit item</p>
            </div>
        </div>
    </div>
</div>